.popup {
  &-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000 !important;
    cursor: default;
    &-enter {
      opacity: 0;
      &-active {
        opacity: 1;
        transition: opacity 300ms, transform 300ms;
      }
    }
    &-exit {
      opacity: 1;
      &-active {
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
      }
    }
  }
  &-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background-color: #9d0909;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      background-color: #f50b0b;
    }
  }
  &-content {
    min-height: 500px;
    max-height: 80%;
    background-color: #ffffff;
    position: relative;
    overflow-y: auto;
  }
}