@tailwind base;
@tailwind components;
@tailwind utilities;

body.noScroll {
  overflow: hidden;
}
html.dark {
  background: #0f172a;
}

/* scroll custom */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #d7dedd;
}
::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background: #5cb8a7;
}
::-webkit-scrollbar-thumb:hover {
  background: #157664;
}

/* popup */
.popup-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000 !important;
  cursor: default;
}
.popup-overlay-enter {
  opacity: 0;
}
.popup-overlay-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.popup-overlay-exit {
  opacity: 1;
}
.popup-overlay-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  background-color: #9d0909;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.close-button:hover {
  background-color: #f50b0b;
}
.popup-content {
  min-height: 500px;
  max-height: 80%;
  background-color: #ffffff;
  position: relative;
  overflow-y: auto;
}
/* / popup */

/* dark mode */
.toggle-switch {
  position: relative;
  width: 47px;
  height: 25px;
  background-color: #ccc;
  border-radius: 17px;
  cursor: pointer;
  user-select: none;
}

.toggle-switch-img {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}
.toggle-switch-img img {
  width: 15px;
  height: 15px;
}
html.dark .toggle-switch-img {
  background-color: #362f2f;
}

.toggle-switch-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-switch-on .toggle-switch-img {
  transform: translateX(23px);
}

.toggle-switch-off .toggle-switch-img {
  transform: translateX(0);
}
/* / dark mode */

/* scroll custom / */
@layer components {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* slider */
  .splide__arrow {
    background-color: #7de5de !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
  }
  .splide__arrow:hover {
    background-color: #1ec4b9 !important;
  }
  /* / slider */
  .hover-gradient {
    @apply bg-gradient-to-r from-yellow-300 to-red-500 opacity-90;
  }
  button {
    transition: 0.3s linear;
  }
  .bg-options {
    @apply bg-no-repeat bg-center bg-full;
  }
  .bg-dark {
    background: rgb(0, 0, 0, 0.8);
  }
  .down-text {
    @apply block text-slate-400 max-w-[968px] mx-auto text-center mt-16 mb-20;
  }

  /* burger */
  .burger {
    position: relative;
    padding: 10px 20px;
    background: transparent;
    z-index: 700 !important;
  }
  .burger span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: 0.2s linear;
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:nth-child(2) {
    top: 9px;
  }
  .burger span:last-child {
    top: 18px;
  }
  .burger.active {
    position: fixed;
    right: 20px;
    top: 35px;
  }
  .burger.active span:first-child {
    top: 0;
    transform: rotate(-45deg);
    background-color: red;
  }
  .burger.active span:nth-child(2) {
    top: 0;
    transform: rotate(45deg);
    background-color: red;
  }
  .burger.active span:last-child {
    top: 18px;
    transform: rotate(35deg);
    opacity: 0;
  }
  .burger-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
  }
  .burger-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .nav-block {
    transform: translateX(-100%);
    transition: 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }
  .nav-hidden {
    transform: translateX(0);
    position: static;
    top: 0;
    left: 0;
    height: auto;
    background-color: transparent !important;
  }
  .nav-block.active{
    transform: translateX(0);
  }

  /* burger / */

  /* title */
  .upTitle {
    @apply text-slate-900 font-KaushanScripts text-3xl text-center mb-2;
  }
  .title {
    @apply text-slate-900 font-MontserratBold text-3xl text-center uppercase;
  }

  .title-line,
  .title-line-intro {
    position: relative;
  }
  .title-line::before,
  .title-line-intro::before {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    bottom: -30px;
    transform: translateX(-50%);
    left: 50%;
  }
  .title-line-intro::before {
    background-color: #fff;
    bottom: -50px;
  }
  /* title */

  /* left line */
  .left-line {
    position: relative;
  }
  .left-line::before {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  /* left line */

  /* nav */
  .navigation {
    position: relative;
  }
  .navigation.active:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  .navigation:hover {
    color: #fce38a;
  }
  .navigation.active {
    color: #fce38a;
  }
  .navigation.active:hover {
    color: #fce38a;
  }
  /* nav / */
}
