@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@/scss/fonts.css');
@import '@/components/header/header.scss';

.show-hover {
  opacity: 0.9;
  visibility: visible;
}

@layer components {
  .bg-dark {
    background: rgb(0, 0, 0, 0.7);
  }
  .hover-gradient {
    @apply bg-gradient-to-r from-yellow-300 to-red-500 opacity-90;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .loading-gif {
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 100px auto 0;
  }

  .line {
    @apply relative before:content-[''] before:absolute before:w-14 before:h-1 before:left-2/4 before:-bottom-8 before:bg-red-500 before:transform before:-translate-x-1/2;
  }

  button {
    transition: all 0.3s linear;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #d7dedd;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 60px;
    background: #5cb8a7;
    &:hover {
      background: #157664;
    }
  }
}
